absl-py==0.11.0
asgiref==3.4.1
astor==0.8.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
bitstring==3.1.7
bleach==1.5.0
cffi==1.14.5
channels==3.0.4
constantly==15.1.0
cryptography==3.4.7
daphne==3.0.2
dj-database-url==0.5.0
Django==2.2.9
ecdsa==0.16.1
esptool==3.0
gast==0.4.0
grpcio==1.35.0
gunicorn==20.1.0
html-testRunner==1.2.1
html5lib==0.9999999
HTMLTestRunner-Python3==0.8.0
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
Jinja2==3.0.1
Markdown==3.3.3
MarkupSafe==2.0.1
mysql-connector-python==8.0.25
numpy==1.20.1
protobuf==3.15.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
pyserial==3.5
pytz==2021.1
reedsolo==1.5.4
selenium==3.141.0
service-identity==21.1.0
six==1.15.0
sqlparse==0.4.2
tensorboard==1.8.0
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl
termcolor==1.1.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing-extensions==3.10.0.2
urllib3==1.26.4
Werkzeug==1.0.1
whitenoise==5.3.0
zope.interface==5.4.0
psycopg2==2.6.2
